body {
	background-color: #363636	;
	background-image: url("../img/ponto-interrogacao2.png");
	line-height: 2em;
	text-align: center;
}

.meu-navbar {
	padding-right: 30px;
	padding-left: 30px;
	background-color: #1C1C1C;
}

.nav-hover:hover {
   background-color: #bb7cfe;
}

.padding-lista-navbar {
	padding-right: 10px;
	padding-left: 10px;
}

.titulo-subtitulo {
	padding: 20px 0;
	font-size: 1.2em;
}

h1 {
	font-size: 3.5em;
}

.info {
	font-size: 1.3em;
}

.lista-regra {
	list-style: none;
	/*text-align: left*/
}

.chute label {
	display: block;
	color: white;
	font-size: 1.2em;
}


.chute input {
	background-color: #1C1C1C	;
	color: white;
	text-align: center;
	border-color: black;
}

.hideteste {

}