body {
	background-color: #363636	;
}

.meu-navbar, .nav-hover:hover {
	background-color: #1C1C1C;
}

.img-titulo {
	width: 85px;
	height: 85px;
}

h1 {
	font-size: 3em;
}

.largura {
	max-width: 18rem;
	border-color: 	#1C1C1C;
	/*object-fit: cover;*/
	/*max-height: 300px;*/
}

.img-jogos {
	/*object-fit: cover;*/
	max-height: 250px;
	object-position: 0 100%;
}

#footer {
	background-color: #1C1C1C!important;
}

